@model IEnumerable<DAL_Lakshya.tbl_User>

@{
    ViewBag.Title = "Login Activation";
}

<center>
    <h2>Login_Activation</h2>
</center>


<body style="background-color:peru">
    <div class="panel firstbox" style="margin-top:30px">
        <div class="panel-body">

            <hr />
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>@Html.DisplayName("USER ID")</th>
                        <th>@Html.DisplayName("FULL NAME")</th>
                        <th>@Html.DisplayName("EMAIL")</th>
                        <th>@Html.DisplayName("PHONE NO")</th>
                        <th>@Html.DisplayName("PASSWORD")</th>
                        <th>@Html.DisplayName("DATE OF BIRTH")</th>
                        <th>Activation</th>
                    </tr>
                </thead>
                <tbody>
                   @using (Html.BeginForm())
                   {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone_No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>        
                            <td>
                            @*<button class="btn btn-default btn-group-lg" type="button">@Html.ActionLink("Activate User", "Send_Mail", "Admin", new { id = item.User_Id })</button>*@
                                <input type="button" class="btn btn-primary" id="@item.User_Id" value="Activate User" onclick="location.href='@Url.Action("Send_Mail", "Admin")?id=' + document.getElementById('@item.User_Id').id" />
                            </td>
                        </tr>
                    }
                   }
                </tbody>
            </table>
        </div>
    </div>
</body>





