@model IEnumerable<FarmerApp.Bidding>

@{
    ViewBag.Title = "ViewBidding";
}
<h2>View Bidding</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.SellRequest.Crop_type)*@
            <label for="name">Crop Name</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Crop_type)*@
            <label for="name">Crop Type</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baseprice)
        </th>

        <th>
            @Html.ActionLink("Current Bid Amount", "ViewBidding", new { Sorting_Order = ViewBag.SortingName })
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.BidderReg.Name)*@
            <label for="name">Bidder Name</label>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellRequest.Crop_name)
       </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crop_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baseprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_Bid)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BidderReg.Name)
        </td>



      


        <td>
            @Html.ActionLink("Approve Bidding", "ApproveBidding", new { id = item.BiddingID })|
           
            @Html.ActionLink("Reject", "RejectBidding", new { id = item.BiddingID })
         
            @* @Html.ActionLink("Delete", "Delete", new { id = item.BiddingID })*@
        </td>
    </tr>
    }

</table>
<td>
    @Html.ActionLink("Go Back", "Index")
</td>