<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Farmer Scheme Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse {
            background-color: #2f4628;
        }
        footer {
            background-color: #2f4628;
            height:10%;
            left: 0;
            bottom: 0;
            width: 100%;
            position:fixed;
           
            color: white;
            text-align: center;
        }

    body { 
       
            background-color: white;
             font-family: 'Californian FB';
             font-size: medium; }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #81a994
        }
        .img1 {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }
       
       
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Farmer-Scheme", "Index", "Farmerhome", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                  
                    <li><img src="~/farmer logo/farmerlogo7.jpg" width="50px" height="50px" />&nbsp;&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Farmer-Scheme", "Index", "Farmerhome", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Home", "Index", "Farmerhome")</li>
                    <li>@Html.ActionLink("About", "Fabout", "Farmerhome")</li>
                    <li>@Html.ActionLink("Contact", "Fcontact", "Farmerhome")</li>
                    <li>@Html.ActionLink("Admin Login", "Login", "Farmerhome")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">


        @RenderBody()
      
        <footer>
            <p>

                <center>Department of Ministry of Agriculture and Farmers Welfare,
                
                    Government of India
                </center>
                
                <center> &copy; LTI Batch809 Team 7,2019 all right Reserved</center>


            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
