@model Rash_Airlines.Models.Passengers_Details

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Passengers_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.perhead_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.perhead_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger_booking_details.class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger_booking_details.class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger_Reg.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger_Reg.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.seat_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
