@model OnlineBankingProject.Models.Imps

@{
    ViewBag.Title = "Imps";
    Layout = "~/Views/Shared/HomePageAfterLogin.cshtml";
}

<h2>Imps</h2>


@using(Html.BeginForm("ImpsT","DashBoard",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Imps</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Beneficiary_Account_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("Beneficiary_Account_Number", new SelectList(@ViewBag.BeneficiaryAc, "Beneficiary_Id", "Beneficiary_Account_Number"), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Beneficiary_Account_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Transaction_Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction_Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction_Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Transaction_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </div>
    </div>
    <input type="submit" value="Savey" class="btn btn-default" />
}

<div>
    @Html.ActionLink("Back", "HomeAfterLogin", "LOR", new { @class = "form-control" }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
