@model IEnumerable<OnlineBankingProject.Models.Open_Savings_Account>

@{
    ViewBag.Title = "Open_Savings_Account";
    Layout = "~/Views/Shared/HomePageBeforeLogin.cshtml";
}

<h2>Open_Savings_Account</h2>
<html>
<head>
    <style>
        body {
            background-color:mistyrose;
        }
    </style>

</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Father_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AadharCard_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Of_Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residential_Address_Line1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residential_Address_Line2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residential_Landmark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residential_State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residential_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residential_Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permanent_Address_Line1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permanent_Address_Line2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permanent_Landmark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permanent_State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permanent_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permanent_Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupational_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source_Of_Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross_Annual_income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approve_Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Father_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AadharCard_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Of_Birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residential_Address_Line1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residential_Address_Line2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residential_Landmark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residential_State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residential_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residential_Pincode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permanent_Address_Line1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permanent_Address_Line2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permanent_Landmark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permanent_State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permanent_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permanent_Pincode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupational_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source_Of_Income)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gross_Annual_income)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approve_Status)
                </td>
                <td>
                    @Html.ActionLink("Back", "AdminStatusApproval", "LOR")
                </td>
            </tr>
        }

    </table>
</body>
</html>