@model IEnumerable<Rash_Airlines.Models.Passenger_Reg>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confirm_pwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confirm_pwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_Passenger", new { id=item.passenger_id }) |
                @Html.ActionLink("Details", "Details_Passenger", new { id=item.passenger_id }) |
                @Html.ActionLink("Delete", "Delete_Passenger", new { id=item.passenger_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
