@using Microsoft.AspNet.Identity
@if (Convert.ToBoolean(Session["result"]) == true)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li>
                @Html.ActionLink("Hello " + Session["name"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>@Html.ActionLink("LogOff", "logout", "registrationTables")</li>
        </ul>
    }
}
else if ((Convert.ToBoolean(Session["retLogRes"]) == true))
{
    <ul class="nav navbar-nav navbar-right">

        <li>
            @Html.ActionLink("Hello " + Session["retName"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("LogOff", "logout", "registrationTables")</li>
    </ul>
}

else if ((Convert.ToBoolean(Session["adminRes"]) == true))
{
    <ul class="nav navbar-nav navbar-right">

        <li>
            @Html.ActionLink("Hello welcome" + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("LogOff", "logout", "registrationTables")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "registrationTables", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "loginPage", "registrationTables", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
