<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -ShopCart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 100%;
            margin: auto;
        }      

    </style>
 

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*<img src="~/image/pen.jpg" height="25"width="25"/>*@
                <h3 style="color:cornsilk; text-align:left;letter-spacing:5px;">ShopCart</h3>
                @*@Html.ActionLink("ShopCart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" style="font-weight:bolder;">
                <ul class="nav navbar-nav">

                    <li style="padding-left:35px">@Html.ActionLink("Home", "Index", "Home")</li>
                    @if ((Convert.ToBoolean(Session["result"]) == false))
                    {
                        if (Convert.ToBoolean(Session["adminRes"]) == false && (Convert.ToBoolean(Session["retLogRes"]) == false))
                        {
                            <li>@Html.ActionLink("Retailer", "retLogin", "productDescriptions")</li>

                            <li>@Html.ActionLink("Admin", "adminLogin", "retailers")</li>
                        }


                    }

                    @if (Convert.ToBoolean(Session["adminRes"]) == true)
                    {
                        <li>@Html.ActionLink("Goto Choices", "choices", "retailers")</li>

                    }


                    @if (Convert.ToBoolean(Session["retLogRes"]) == true)
                    {
                        <li>@Html.ActionLink("Goto Choices", "choices", "productDescriptions")</li>

                    }


                </ul>
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")

            </div>
        </div>
    </div>
    <div class="container body-content" style="width : 100%">
        @RenderBody()
        <hr />

    </div>


    <footer style="color:cornsilk;text-align:center;background-color : black; bottom:0; height:25px;width:100%">
        <p>&copy; @DateTime.Now.Year &nbsp;- &nbsp;ShopCart</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
