
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_RegisterLoginLayout.cshtml";
}
<style>
    .footer {
        font-size: 20px;
        height: 40px;
        box-shadow: rgba(0,0,0,0.1) 3px 3px 3px 3px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
        /*padding-top:10px;*/
    }

    #PsNum {
        display: inline-block;
        height: 100%;
        width: 100%;
        background-color: #310e68;
        background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    color:white;

        border-radius: 32px;
        /*background-image: linear-gradient(to bottom right, ##457fca, ##5691c8);*/
    }

    .Textbox {
        width: 100%;
        height: 50px;
        border-radius: 32px;
        text-align: center;
        background-color: white;
        outline: none;
        border: none;
    color:black;
    text-align:center;
    }

    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 35px;
        height: 40px;
        text-align: center;
    }


        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    #Regimg {
       background-image:url('@Url.Content("~/Images/registration.png")') ;
        border-radius: 35px;
        width: 80%;
        height: 566px;
        background-size: 100% 100%;
        display:inline-block;
        right:0;
    }

    #enterPS
    {
     display:inline-block;
    }
    #btnConfirm {
        outline: none;
        border: none;
        font-family: 'Montserrat';
        font-size: 20px;
        border-radius: 32px;
        background-color: #efefef;
        width: 100%;
        height: 50px;
        padding: 5px;
        color: black;
    }
</style>

<br /><br /><br />




<div class="container-fluid">
    <div class="row" id="PsNum">

        <div class="col-md-6 col-sm-6 col-xs-6 ">
            <br /><br /><br /><br /><br /><br />
            <center>
                <div id="enterPS PsNo" style="margin-left:10px;display:inline-block">
                    @using (Html.BeginForm())
                    {
                        <br />
                        @Html.Label("Please Enter Your Pay Sheet Number  ", new { @style = "margin-top:10px;font-size:15px" })
                        <br />
                        <br />

                        @Html.TextBox("PSNo", null, new { @class = "Textbox" })
                        <div style="color:white;">@ViewBag.errorQ</div>
                        <br /><br />
                        <input id="btnConfirm" type="submit" value="Submit" class="button" />
                    }
                </div>
            </center>



        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
            <div id="Regimg" class="column right"></div>
        </div>
    </div>
</div>
@ViewBag.exception
<br />
<br />
<br />