@model FarmerApp.Models.FLogin

@{
    ViewBag.Title = "Login";
}


<br />


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <style>
        .card {
            box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            background-color: #94b988;
            height: 60%;
            width: 50%;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>
<body>
    <center>
        <h2>Admin Login</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="card">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <br />

            <div class="card">
                <br />
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <img src="~/carousel/ADMIN IMAGE.gif"  height=60%  width=40%/>

                <br />
                <br />
                <div class="card-body">
                    @ViewBag.m
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-push-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @ViewBag.m1
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-push-10">
                        @*@Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="password" name="password" class="form-control" />
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-0">
                        <input type="submit" value="Submit" class="btn btn-default" />
                        @ViewBag.m2
                    </div>
                </div>




            </div>

        }
    </center>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



