@model IEnumerable<OnlineExamSystem.Models.REPORT>
<br />
<br />
<br />
<input class="btn-info" type="button" value="Go to Dashboard" onclick="@("window.location.href='" + @Url.Action("UserDashboard", "User") + "'");" />
@{
    ViewBag.Title = "ViewReport";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2>Report</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FULL_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEST_LEVEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_OF_EXAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCORE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TECHNOLOGY.TECHNOLOGY_NAME)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FULL_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEST_LEVEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_OF_EXAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SCORE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TECHNOLOGY.TECHNOLOGY_NAME)
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}