@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title -Layout</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar topnav navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("RASH Airlines", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Flight Schedule", "Index_Schedule", "Flights_Schedule")</li>
                        <li>@Html.ActionLink("Routes", "Index_Routes", "Routes_Master")</li>
                        <li>@Html.ActionLink("Flights", "Index_Flights", "Flights_Master")</li>
                        <li>@Html.ActionLink("Places", "Index_Places", "Places")</li>
                    </ul>
                    Html.Partial("_LoginPartial")
                    </div>
                    </div>
                    </div>
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p style="text-align:center">&copy; @DateTime.Now.Year - Rash Airlines &reg;</p>
                        </footer>
                    </div>

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
                    </body>
                    </html>*@



                    <!DOCTYPE html>
                    <html>
                    <head>
                        <meta charset="utf-8" />
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>@ViewBag.Title </title>
                        @Styles.Render("~/Content/css")
                        @Scripts.Render("~/bundles/modernizr")

                    </head>
                    <body style="background-image:linear-gradient(#ECECEC,lightslategrey)">

                        <div class="navbar navbar-fixed-top">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    @Html.ActionLink("RASH Airlines", "Login", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                                </div>
                                <div class="navbar-collapse collapse pull-right">
                                    <ul class="nav navbar-nav ">
                                        <li>@Html.ActionLink("Flight Schedule", "Index_Schedule", "Flights_Schedule")</li>
                                        <li>@Html.ActionLink("Routes", "Index_Routes", "Routes_Master")</li>
                                        <li>@Html.ActionLink("Flights", "Index_Flight", "Flights_Master")</li>
                                        <li>@Html.ActionLink("Places", "Index_Places", "Places")</li>
                                    </ul>
                                    @*@Html.Partial("_LoginPartial")*@
                                </div>
                            </div>
                        </div>
                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p style="text-align:center">&copy; @DateTime.Now.Year - Rash Airlines &reg;</p>
                            </footer>
                        </div>

                        @Scripts.Render("~/bundles/jquery")
                        @Scripts.Render("~/bundles/bootstrap")
                        @RenderSection("scripts", required: false)
                    </body>
                </html>

